%% vim: set filetype=erlang : -*- erlang -*-
%%
%% rebar.configで指定可能な項目については https://github.com/rebar/rebar/blob/master/rebar.config.sample を参照のこと

%% erlangのコンパイルオプション
{erl_opts, [
            warnings_as_errors,
            warn_export_all,
            warn_untyped_record
           ]}.

%% ドライバのコンパイル
{port_specs, [
              {"priv/udsocket_drv.so", ["c_src/*.c"]}
             ]}.

%% link時バリデーションオプション
{xref_checks, [
               fail_on_warning,
               undefined_function_calls
              ]}.

%% clean時の削除対象
{clean_files, [".eunit/*", "ebin/*.beam"]}.

%% テスト時にコードカバレッジの測定を有効にするかどうか
{cover_enabled, true}.

%% edocのオプション
{edoc_opts, [
             {doclet, edown_doclet},
             {dialyzer_specs, all},
             {report_missing_type, true},
             {report_type_mismatch, true},
             {pretty_print, erl_pp},
             {preprocess, true}
            ]}.
{validate_app_modules, true}.

%% eunit用のオプション
{eunit_opts, [
              %%以下は、eunit_formatters用の設定群
              no_tty,  %% This turns off the default output, MUST HAVE
              {report, {eunit_progress, [colored, profile]}} %% Use `profile' to see test timing information
              %% Uses the progress formatter with ANSI-colored output
             ]}.

%% サブアプリケーション設定
{sub_dirs, [
           ]}.

%% 依存ライブラリ群
{deps,
  [
   %% 開発補助用のライブラリ群 (本番運用用のパッケージには含めないので.app.srcのapplicationsへの記載は必要なし)
   {meck, ".*", {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}},
   {reloader, ".*", {git, "git://github.com/sile/reloader.git", {branch, "master"}}},
   {edown, ".*", {git, "git://github.com/dwango/edown.git", {branch, "master"}}},
   {eunit_formatters, ".*", {git, "git://github.com/seancribbs/eunit_formatters", {branch, "master"}}},

   %% 社内ライブラリ群
   {moyo, ".*", {git, "git://github.com/dwango/moyo", {branch, "master"}}}
  ]}.
